<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
    <form action="/add-data" method = "POST">
        <div class="container">
            Enter a new data value:
            <input type = "text" name ="newData" id="newData"/>
        </div>
        <button type="submit">Add new Data</button> <%= locals.text %>

    </form>
    
    &nbsp;
    <div class="text"> Other options:</div>

    <form action="/" method="get">
        <button type="submit">Back to Home</button>
    </form>
    <form action="/view-data" method="get">
        <button type="submit">View Data</button>
    </form>
</body>

</html>
