<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
    <form action="/add-data" method = "POST">
        <div class="container">
            Enter a new data value:
            <input type = "text" name ="newData" id="newData"/>
        </div>
        <button type="submit">Add new Data</button>
    </form>
    <div id = "addedText"></div>
</body>

</html>
