<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="text">Stored Data</div> 
            &nbsp;
            <div class="text">Current Data: <%= locals.data %></div> 
            &nbsp;
            <div class="text"> Other options:</div>
        
            <form action="/" method="get">
                <button type="submit">Back to Home</button>
            </form>
            <form action="/add-data" method="get">
                <button type="submit">Add Data</button>
            </form>
        </div>
    </div>


</body>

</html>
