<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="text">This is All Test #1</div>
            &nbsp;
            <div class="text">Enter things at /add-data</div> 
            <form action="/add-data" method="get">
                <button type="submit">Add Data</button>
            </form>
            &nbsp;
            <div class="text">View and Delete them at /view-data</div>
            <form action="/view-data" method="get">
                <button type="submit">View Data</button>
            </form>
        </div>
    </div>
    <!-- Passed Text: <%= locals.text %> -->

</body>

</html>
