<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <h1>This is All Test #1</h1>
            &nbsp;
            <div class="text">Enter things at /add-data</div> 
            <form action="/add-data" method="get">
                <button type="submit">Add Data</button>
            </form>
            &nbsp;
            <div class="text">View and Delete them at /view-data</div>
            <form action="/view-data" method="get">
                <button type="submit">View Data</button>
            </form>
        </div>
    </div>
    <!-- Passed Text: <%= locals.text %> -->
</body>

</html>
