<!DOCTYPE html>

<head>
    <title>Calculator History</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "GCWeb/css/theme.css">
    <!-- <link rel="stylesheet" href="https://wet-boew.github.io/wet-boew/theme-wet-boew/css/theme.min.css"> -->
</head>

<body>
    <div class="container">
        <h2>Calculator History</h2>

        <section class="alert alert-warning">
        <h4>This is not finished</h4>
        </section>

        <button class = "btn btn-default" onclick="window.location.href = '/';"> Back to Calculator</button>

        <!-- <div id = "history-area"></div> -->

    </div>

</body>

</html>